extends ../layout

block content
    a(href='/torneos/create') nuevo torneo
    table.table 
        thead 
            tr 
                th(scope='col') #
                th(scope='col') nombre 
                th(scope='col') lugar 
                th(scope='col') categoria
                th(scope='col') 
        tbody 
          each torneo in torneos 
                tr
                    th(scope='row')
                        =  torneo.id
                    td= torneo.nombre 
                    td= torneo.lugar 
                    td= torneo.categoria
                    td 
                        a(href='torneos/' + torneo.id + '/update') editar
                    td 
                        form.inline(method='POST', action='/torneo/' + torneo.id + '/delete')
                         input(type='hidden' name='id' value=torneo.id)
                        button(type='submit' class='btn' onclick='return confirm("¿Estás seguro de que deseas eliminar este torneo?")')
                        | Eliminar